/*.hux_prepareLoading{
	opacity:1;
}*/
.hux_loading {
	opacity:1;
}
.hux_tAppearInit{
	opacity:0.5;
}
.hux_tAppear {
	/*-moz-transform: opacity(1);
	-webkit-transform: opacity(1);
	-o-transform: opacity(1);*/
	opacity:1;
	-moz-transition: 0.5s opacity cubic-bezier(0.00,0.00,0.5,1.00);
	-webkit-transition: 0.5s opacity cubic-bezier(0.00,0.00,0.5,1.00);
	-o-transition: 0.5s opacity cubic-bezier(0.00,0.00,0.5,1.00);
}

.hux_tVanish{
	opacity:0.5;
	-moz-transition: 0.5s opacity cubic-bezier(0.00,0.00,0.5,1.00);
	-webkit-transition: 0.5s opacity cubic-bezier(0.00,0.00,0.5,1.00);
	-o-transition: 0.5s opacity cubic-bezier(0.00,0.00,0.5,1.00);
}
.hux_tVanish ~ .hux_transition{
	display:none;
}
body{
	background-color:#222222;
	font-family:sans-serif;
	margin:0;
}
a{
	outline:none;
}

#container {
	width:1000px;
	margin:auto;
	margin-top:30px;
	border-radius:5px;
	height:600px;
}
#container > table{
	width:100%;
	height: 100%;
}

/* ===================================
 * ============  HEADER   ============
 * =================================== */

#div_header{
	background-color:#333333;
}

#header{
	height:100px;
	color:white;
}
#header td{
	min-width:100px;
}
#header_menu{
	/*position:absolute;
	left:600px;*/
	border-radius:5px;
	margin-top:50px;
	background-color:#EEEEEE;
	height:30px;
}



#header_menu> ul{
	position:static;
	padding:0px;
	margin:0;
}
#header_menu li{
	float:left;
	border-left:1px solid;
}

#header_menu li.first{
	border-left:none;
}

#header_menu li>a{
	display:block;
	/*width:100%;*/
	padding:7px;
}
#slogan{
	
	font-weight:bold;
	font-size:30px;
}

#logo{
	text-align:center;
}
#HUX{
	font-size:1.2em;
}
/* ===================================
 * =============  MENU   =============
 * =================================== */
#menu{
	width:150px;
	background-color:#EEE;
	border-radius:5px;
	vertical-align:top;
}
#menu > ul {
	margin-top:0;
}

.menu>ul{
	padding:0;
}

.menu li{
	list-style:none;
}

.menu li:hover{
	background-color:#FFF;
}

.menu li > a{
	text-decoration:none;
	height:100%;
}

#menu li{
	border-bottom:1px solid #DDDDDD;
}

#menu li a{
	/*padding-left:15px;*/
	padding:12px 0 12px 15px;
	display:block;
	display:block;
}

#menu .menu_title{
	background-color:#DDD;
	text-align:center;
	margin:0;
	border-radius:5px 5px 0 0;
	padding: 5px 0;
}

/* ===================================
 * ===========  CONTENT   ============
 * =================================== */


.content{
	background-color:#EEE;
	border-radius:5px;
	padding:20px 50px 20px 50px;
	vertical-align:top;
}

.note, .warning{
	font-size:1.1em;
	color:green;
	font-style: italic;
	border: 1px solid;
}

h1, a{
	color: #0070ff;
}

.code{
	padding:10px 10px;
	margin-left:50px;
	font-size: 12px;
	background-color:#FFFFDD;
	border-radius:3px;
	border:1px solid;
}

/* ===================================
 * ===========  FEATURE   ============
 * =================================== */

.feature_description td, .feature_description{
	border-radius:2px;
	border:solid 1px;
}
