.hux_loading {
	opacity:0.5;
	/* opacity for IE : */
	filter: alpha(opacity=50);
}

body{
	background-color:#222222;
	font-family:sans-serif;
	margin:0;
}
a{
	outline:none;
}

#container {
	width:1000px;
	margin:auto;
	margin-top:30px;
	border-radius:5px;
	height:600px;
}
#container > table, #container > div{
	height: 100%;
}

#container > table{
	width:100%;
}
/* ===================================
 * ============  HEADER   ============
 * =================================== */

#div_header{
	background-color:#333333;
}

#header{
	height:100px;
	color:white;
}
#header td{
	min-width:100px;
}
#header_menu{
	/*position:absolute;
	left:600px;*/
	border-radius:5px;
	margin-top:50px;
	background-color:#EEEEEE;
	height:30px;
}



#header_menu> ul{
	position:static;
	padding:0px;
	margin:0;
}
#header_menu li{
	float:left;
	border-left:1px solid;
}

#header_menu li.first{
	border-left:none;
}

#header_menu li>a{
	display:block;
	/*width:100%;*/
	padding:7px;
}
#slogan{
	
	font-weight:bold;
	font-size:30px;
}

#logo{
	text-align:center;
}
#HUX{
	font-size:1.2em;
}
/* ===================================
 * =============  MENU   =============
 * =================================== */
.body_menu{
	width:150px;
	background-color:#EEE;
	border-radius:5px;
	vertical-align:top;
}
.body_menu > ul {
	margin-top:0;
}

.menu>ul{
	padding:0;
}

.menu li{
	list-style:none;
}

.menu li:hover{
	background-color:#FFF;
}

.menu li > a{
	text-decoration:none;
	height:100%;
}

.body_menu li{
	border-bottom:1px solid #DDDDDD;
}

.body_menu li a{
	/*padding-left:15px;*/
	padding:12px 0 12px 15px;
	display:block;
	display:block;
}

.menu_title{
	background-color:#DDD;
	text-align:center;
	margin:0;
	border-radius:5px 5px 0 0;
	padding: 5px 0;
}

/* ===================================
 * ===========  CONTENT   ============
 * =================================== */


.content{
	background-color:#EEE;
	border-radius:5px;
	padding:20px 50px 20px 50px;
	vertical-align:top;
	text-align:justify;
}

.note, .warning{
	font-size:1.1em;
	color:green;
	font-style: italic;
	border: 1px solid;
}

h1, h2, h3, a{
	color: #0070ff;
}

h3 {
	padding-left:30px;
}

.code, .rendering{
	padding:10px 10px;
	margin-left:50px;
	font-size: 12px;
	border-radius:3px;
	border:1px solid;
}
.code{
	background-color:#FFFFDD;
}

.rendering{
	background-color:#FFDDFF;
}

/* ===================================
 * ===========  FEATURE   ============
 * =================================== */

table.summary, table.summary td, table.summary th{
	border:solid 1px;
}
table.summary td, table.summary th{
	width: 250px;
}
/* ===================================
 * =============  TUTO   =============
 * =================================== */
.sandbox img{
	max-width:500px;
}
.sandbox, .tab {
	border: 1px solid;
	background-color: #FFF;
	padding:  10px ;
}
.testit .tab, .usercodetxtarea{
	min-height:150px;
	width:100%;
}
.usercodetxtarea{
	background-color:#222222;
	color:greenYellow;
}
#testit-model, .result, .usercode{
	display:none;
}
.testit-menu{
	margin-bottom: 0;
	padding-left: 0;
}
.testit-menu li {
	display: inline;
	list-style-type: none;
}
.testit-menu li a {
	border: 1px solid;
	border-bottom:0;
	border-radius: 9px 9px 0 0;
	color: inherit;
	padding: 4px 4px 0;
	text-decoration: none;
	background-color: #EEEEEE;
}
.testit-menu li a:hover, .testit-menu li a.selected{
	background-color: #FFFFFF;
	padding-bottom: 1px;
}