/*.hux_prepareLoading{
	opacity:1;
}*/


/* sets the style before an animated element appears */
.hux_tAppearInit{
	opacity:0.2;
}
/* makes the animation for the apparitions */
.hux_tAppear {
	/*-moz-transform: opacity(1);
	-webkit-transform: opacity(1);
	-o-transform: opacity(1);*/
	opacity:1;
	-moz-transition: 1s opacity;
	-webkit-transition: 1s opacity;
	-o-transition: 1s opacity;
}
/* sets the style before an animated element vanishes */
.hux_tVanishInit{}
/* makes the animation for the vanishings */
.hux_tVanish{
	opacity:0.5;
	-moz-transition: 0.5s opacity ;
	-webkit-transition: 0.5s opacity ;
	-o-transition: 0.5s opacity ;
}

/* we show the cloned and vanishing element and hide the original element that is loading*/
.hux_tVanish ~ .hux_transition{
	display:none;
}


.hux_tAppearInit#iview{ opacity:1; }

.hux_tAppearInit#iview .photo, .hux_tAppearInit#slide{
	-moz-transform: translate(-200px, 0);
	-o-transform: translate(-200px, 0);
	-webkit-transform: translate(-200px, 0);
	opacity:0;
}
.hux_tAppear#iview .photo, .hux_tAppear#slide{
	/*-moz-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;*/
	opacity:1;
	-moz-transform: scale(1) translate(0, 0);
	-o-transform: scale(1) translate(0, 0);
	-webkit-transform: scale(1) translate(0, 0);
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}


.hux_tVanishInit#iview .photo, .hux_tVanishInit#slide{
	-moz-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	/*-moz-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;*/
}
.hux_tVanish#iview .photo, .hux_tVanish#slide{
	opacity:0;
	-moz-transform: translate(200px, 0px);
	-o-transform:  translate(200px, 0px);
	-webkit-transform: translate(200px, 0px);
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.hux_tVanish#iview{
	/*opacity:1;*/
	/*-moz-transform:translate(0);*/
	-moz-transition: 0.5 ease;
	-webkit-transition: 0.5 ease;
	-o-transition: 0.5 ease;
}

 
